<div class="min-h-screen w-screen flex flex-col items-center justify-start px-[1.25rem] pb-6">
	<header class="w-full max-w-[1120px] flex items-center justify-between pt-4 pb-[2rem]">
		<img
			src="../../../assets/logo.svg"
			class="h-6"
			alt="Ecoleta"
		/>

		<a
			class="flex-none flex gap-1"
			[routerLink]="['/']"
		>
		  <img
				src="../../../assets/go-back.svg"
				alt="Green arrow vector"
			/>
	
			<strong class="text-sm text-blue-900">
				Back to home
			</strong>
		</a>
	</header>

	<main class="bg-white rounded-md flex-1 p-4 md:p-10 w-full max-w-[736px] flex flex-col gap-6">
		<h1 class="font-semibold text-[2.25rem] mb:text-[1.85rem]">
			Collect point <br />
			registration
		</h1>

		<ec-form
			[isSubmiting]="trye"
			[imagePreview]="salame"
			(onImageChange)="form.onImageChange($event)"
			(onSubmit)="handleSubmit()"
		></ec-form>		
	</main>
</div>
