<div class="min-h-screen w-screen flex flex-col items-center justify-start px-[1.25rem] pb-6">
	<header class="w-full max-w-[1120px] flex items-center justify-between pt-4 pb-[2rem]">
		<img
			src="../../../assets/logo.svg"
			class="h-6"
			alt="Ecoleta"
		/>

		<a
			class="flex-none flex gap-1"
			[routerLink]="['/']"
		>
		  <img
				src="../../../assets/go-back.svg"
				alt="Green arrow vector"
			/>

			<strong class="text-sm text-blue-900">
				Back to home
			</strong>
		</a>
	</header>

	<main class="bg-white rounded-md flex-1 p-4 md:p-10 w-full max-w-[736px] flex flex-col gap-6">
		<h1 class="font-semibold text-[2.25rem] mb:text-[1.85rem]">
			Collect point <br />
			registration
		</h1>
	
		<form
			class="w-full flex flex-col gap-6"
			[formGroup]="form"
			(ngSubmit)="form.submit()"
		>
			<label class="w-full h-[300px] bg-green-200 rounded-md p-7">
				<div class="w-full h-full rounded-md border border-[4px] border-green-600 border-dashed grid place-items-center overflow-hidden">
					<img
						*ngIf="!form.imagePreview"
						src="../../../assets/upload.svg"
						alt="Upload a image file"
					/>

					<img
						*ngIf="form.imagePreview"
						class="h-full"
						[src]="form.imagePreview"
					/>
				</div>

				<input
					class="-translate-x-[100vw]"
					(change)="form.onImageChange($event)"
					type="file"
				/>
			</label>

			<fieldset class="w-full flex flex-col gap-3">
				<legend class="font-semibold text-[1.5rem] mb:text-[1.35rem] mb-5">
					Infos
				</legend>

				<label class="w-full flex flex-col">
					<span class="text-[0.875rem]">Entity's name</span>
					<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="name" />
				</label>

				<label class="w-full flex flex-col">
					<span class="text-[0.875rem]">Email</span>
					<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="email" />
				</label>

				<label class="w-[45%] mb:w-[65%] flex flex-col">
					<span class="text-[0.875rem]">Whatsapp</span>
					<input class="bg-zinc-200 w-full mr-auto rounded-md px-4 py-3 text-[1rem]" formControlName="whatsapp" />
				</label>
			</fieldset>

			<fieldset class="w-full flex flex-col gap-3">
				<div class="w-full flex items-center justify-between">
					<legend class="font-semibold text-[1.5rem] mb:text-[1.35rem]">
						Address
					</legend>

					<span class="text-[0.875rem]">
						Select address in the map
					</span>
				</div>

				<leaflet-map></leaflet-map>
				
				<div class="w-full flex gap-3">
					<label class="w-[30%] flex flex-col">
						<span class="text-[0.875rem]">Number</span>
						<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="number" />
					</label>

					<label class="flex-1 flex flex-col">
						<span class="text-[0.875rem]">City</span>
						<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="city" />
					</label>
				</div>

				<div class="w-full flex gap-3">
					<label class="w-[30%] flex flex-col">
						<span class="text-[0.875rem]">Street</span>
						<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="street" />
					</label>
	
   				<label class="flex-1 flex flex-col">
  					<span class="text-[0.875rem]">State</span>
						<input class="bg-zinc-200 w-full rounded-md px-4 py-3 text-[1rem]" formControlName="state" />
   				</label>
				</div>
			</fieldset>

			<div class="w-full flex items-center justify-between mt-5">
				<strong class="font-semibold text-[1.5rem] mb:text-[1.35rem]">
					Collectable items
				</strong>

				<span class="text-[0.875rem]">
					Select one or more items bellow
				</span>
			</div>
			<div class="w-full grid grid-cols-3 gap-2 mt-3 mb-5">
				<button
					*ngFor="let categ of categs"
					type="button"
					(click)="form.selectCateg(categ.text)"
					[class]="['flex', 'flex-col', 'md:gap-4', 'py-3', 'md:py-14', 'items-center', 'rounded-lg', form.selectedCategs.includes(categ.text) && 'bg-white', !form.selectedCategs.includes(categ.text) && 'bg-green-200', form.selectedCategs.includes(categ.text) && 'ring-[2px]', form.selectedCategs.includes(categ.text) && 'ring-green-500']"
				>
				  <img [src]="categ.src" alt="" />
					<span class="md:text-xl">
						{{categ.text}}
					</span>
			  </button>
			</div>

			<button
				type="submit"
				class="bg-green-400 rounded-md md:w-[267.08px] w-full overflow-hidden hover:bg-green-600 mb:text-[0.875rem] text-white text-center font-semibold p-4 ml-auto disabled:bg-green-500"
			>
				Register a collector point
			</button>
		</form>
	</main>
</div>
