<ec-loader *ngIf="loading; else content"></ec-loader>

<ng-template #content>
<div
	class="min-h-screen w-screen flex flex-col items-center justify-start px-[1.25rem] pb-6"
>
	<header class="w-full max-w-[1120px] flex items-center justify-start pt-[1rem] pb-[2rem]">
		<a
			class="flex-none"
			[routerLink]="['/']"
		>
  		<img
  			src="../../../assets/go-back.svg"
  			alt="Green arrow vector"
  		/>
		</a>
	</header>

	<main class="flex-1 max-w-[1120px] flex flex-col gap-8">
		<div class="grid grid-cols-1 text-zinc-800 gap-2">
			<ec-text *as="'strong'" class="text-2xl">
				😉&nbsp;&nbsp;Wellcome
			</ec-text>

			<ec-text class="text-zinc-300">
				Find in the map your collect point
			</ec-text>
		</div>

		<leaflet-map></leaflet-map>

		<div class="w-[736px] max-w-[90vw] grid grid-cols-3 gap-2 md:gap-5 mt-3 mb-5 bg-red-200/40">
			<ec-category
				class="h-28 md:h-[12rem] flex items-center justify-center"
				*ngFor="let categ of categs"
				[category]="categ"
				[active]="selectedCategs.includes(categ.text)"
				(toggle)="selectCateg($event)"
			></ec-category>
	  </div>
	</main>
</div>
</ng-template>
