<ec-loader *ngIf="loading; else content"></ec-loader>

<ng-template #content>
<div
	class="flex flex-col min-h-screen w-screen md:bg-people md:bg-right md:bg-contain md:bg-no-repeat"
>
	<header class="flex items-center justify-start p-4">
		<img src="../../assets/logo.svg" alt="Ecoleta" />
	</header>

	<main class="mx-auto w-full max-w-[1104px] flex-1 flex flex-col justify-center mb:items-center items-start gap-6 p-10">
		<h1 class="text-[3.325rem] mb:text-[1.9rem] font-bold font-butu mb:text-center">
			Your residuals collector marketplace
		</h1>
	
		<p class="text-[1.5rem] mb:text-[0.9365rem] text-zinc-400 mb:text-center">
		  We help people efficiently find residuals collector points.
		</p>

		<form
			class="flex flex-col gap-3"
			(submit)="handleSubmit($event)"
		>
		  <label
				class="w-[267.08px] rounded-md p-4"
				[class]="{
				  'bg-zinc-300/50': !selectors.city.length,
					'bg-white': !!selectors.city.length
				}"
			>
  			<select
	   			class="w-full bg-white/0 focus:outline-0 text-zinc-300 mb:text-[0.9365rem]"
					[formControl]="cityControl"
		  	>
			    <option disabled selected value="">
					  Select the city
					</option>

					<option
						*ngFor="let city of selectors.city"
						[value]="city"
					>
					  {{city}}
					</option>
  			</select>
			</label>

			<label
				class="w-[267.08px] bg-white rounded-md p-4"
				[class]="{
				  'bg-zinc-300/50': !selectors.uf.length,
					'bg-white': !!selectors.uf.length
				}"
			>
				<select
  			  class="w-full bg-white/0 focus:outline-0 text-zinc-300 mb:text-[0.9365rem]"
					[formControl]="ufControl"
  			>
  			  <option disabled selected value="">
						Select the state
					</option>

					<option
						*ngFor="let uf of selectors.uf"
						[value]="uf"
					>
					  {{uf}}
					</option>
  			</select>
			</label>

			<button
				[disabled]="(!selectors.uf.length || !selectors.city.length) || (!ufControl.value || !cityControl.value)"
				class="bg-green-400 w-[267.08px] flex rounded-md overflow-hidden disabled:bg-green-600"
			>
				<div class="bg-green-600 p-4">
					<img
  					src="../../assets/white-arrow.svg"
	  				alt="An white arrow pointing to an semicurved bar"
		  		/>
				</div>
				<div class="p-4 flex-1">
  				<span class="mb:text-[0.875rem] text-white text-center font-semibold">
  					Enter
  				</span>
				</div>
			</button>

  		<a
				[routerLink]="['/points/new']"
				class="bg-green-400 flex rounded-md w-[267.08px] overflow-hidden hover:bg-green-600 group"
			>
  			<div class="bg-green-600 p-4 group-hover:bg-green-500">
  				<img
  					src="../../assets/login.svg"
  					alt="An white arrow pointing to an semicurved bar"
  				/>
  			</div>
	
  			<div class="p-4">
  				<span class="mb:text-[0.875rem] text-white text-center font-semibold">
  					Register a collector point
  				</span>
  			</div>
  		</a>
		</form>
	</main>
</div>
</ng-template>
